.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.container textarea {
  width: 100%;
  height: 100px;
  resize: vertical;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.container input {
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.container button {
  padding: 10px;
  width: 80px;
  background-color: rgb(37, 147, 255);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.container .submit_container {
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}

.container button:disabled {
  background-color: rgb(220, 220, 220);
  cursor: not-allowed;
}
